$color-black: #000000;
$color-white: #ffffff;
$color-text: #e4e4e4;
$color-orange: #f6a500;
$color-gray: #2c2c2c;
$gradient-gray: linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
$gradient-bg: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
$gradient-orange: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
