$font-primary: "Arodora Pro", sans-serif;
// CHANGE FONT SIZE LATER
$font-size: 18px;
// $ul: 1320px; CONTAINER SIZE IF BIGGER THAN XL
// $xl: 1200px;
$xl: 1180px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;
