@font-face {
  font-family: "Arodora Pro";
  src: url("../../fonts/ArodoraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXTART-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXTART.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
