@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
}

body {
  font-family: $font-primary;
  font-weight: normal;
}

a {
  color: $color-text;
  text-decoration: none;
}
a:hover {
  transition: 0.5s;
  cursor: pointer;
  color: $color-orange;
}
